<!DOCTYPE html>
<html>
  <head>
     <title>[% title || 'SmokeDB'%]</title>
     <link rel=stylesheet type="text/css" href="/css/smokedb.css">
  </head>
  <body>
    <div class="body-center">
      <div class="header">
        <div class="header-logo">
          <h1>SmokeDB</h1>
          <p>Perl5 core testing</p>
        </div>
        <div class="header-menu">
        [% INCLUDE "menu.tt" %]
        </div>
      </div>
      <div id="content">
      [% content %]
      </div>
      <div class="footer">
      <span style="font-size: smaller;"
           >CoreSmokeDB v[% version %];
           courtesy of Perl QA Hackathon:
             2010&nbsp;<span style="color: yellow">Vienna</span>
           + 2011&nbsp;<span style="color: yellow">Amsterdam</span>
           + 2012&nbsp;<span style="color: yellow">Paris</span>
           + 2013&nbsp;<span style="color: yellow">Lancaster</span>
           + 2014&nbsp;<span style="color: yellow">Lyon</span>
           + 2015&nbsp;<span style="color: yellow">Berlin</span>
           + 2016&nbsp;<span style="color: yellow">Rugby</span>
      </span>
    </div>
  </body>
</html>
