<!DOCTYPE html>
<html>
  <head>
    <title>[% title || 'Test-Smoke.org' %]</title>
    <link rel=stylesheet type="text/css" href="/css/tslayout.css">
  </head>
  <body>
    <div id="frame">

      <div id="header">
        &copy; 2003-[% thisyear %] Test-Smoke.org &lt;abeltje&#64;cpan.org&gt;
      </div>

      <div id="logo">
        <img alt="[Test-Smoke]" src="/images/ts-logo.gif">
        Test-Smoke.org home of Test::Smoke<br>
        <br>

        <div id="menu">
        [% INCLUDE "menu.tt" %]
        </div><!-- id=menu -->
      </div><!-- id=logo -->

      <div id="content">
[% content %]
      </div><!-- id=(wide)content -->

    <div id="footer">
      <span style="font-size: smaller;"
           >SmokeDB: Test::Smoke::Gateway v[% version %]</span>;
           courtesy of Perl QA Hackathon:
             2010 Vienna
           + 2011 Amsterdam
           + 2012 Paris
           + 2013 Lancaster
           + 2014 Lyon
    </div>

    </div><!-- id=frame -->
  </body>
</html>
