html {
    margin  : 0;
    border  : 0;
    padding : 0;
}

body {
    background-color : #EEEEEE;
    border           : 0;
    font-family      : "Trebuchet MS", "Arial", "sans-serif";
    margin           : 0;
    padding          : 0;
    text-align       : center;
}

.body-center {
    border     : 1px solid black;
    margin     : 0 0 0 5%;
    padding    : 0;
    text-align : left;
    width      : 90%;
}

.header {
    border     : 0;
    margin     : 0;
    padding    : 0;
    text-align : left;
    width      : 100%;
}

.header-logo {
    border-left       : 30px solid #000;
    color             : #FFC218;
    height            : 150px;
    margin            : 0;
    padding           : 0 0 0 150px;
    background        : #000;
    background-image  : url("/images/smoking_union.gif"); /* fallback */
    background-repeat : no-repeat;
    background-image  : url("/images/smoking_union.gif"), -webkit-gradient(linear, left, right, from(#000), to(#df6f00)); /* Saf4+, Chrome */
    background-image  : url("/images/smoking_union.gif"), -webkit-linear-gradient( left,             #000,     #df6f00);  /* Chrome 10+, Saf5.1+ */
    background-image  : url("/images/smoking_union.gif"),    -moz-linear-gradient(       right,      #000,     #df6f00);  /* FF3.6+ */
    background-image  : url("/images/smoking_union.gif"),      -o-linear-gradient(       right,      #000,     #df6f00);  /* Opera 11.10+ */
    background-image  : url("/images/smoking_union.gif"),         linear-gradient(    to right,      #000,     #df6f00);  /* W3C */
}

.header-logo h1 {
    margin  : 0;
    padding : 0.5em 0 0 0;
}

.header-menu {
    background-color : black;
    border           : 0;
    color            : #EEEEEE;
    margin           : 0;
    padding          : 0.25em 0 0.25em 150px;
    background       : #000;
    background-image : -webkit-gradient(linear,left, right, from(#df6f00), to(#000)); /* Saf4+, Chrome */
    background-image : -webkit-linear-gradient(left,             #df6f00,     #000);  /* Chrome 10+, Saf5.1+ */
    background-image :    -moz-linear-gradient(      right,      #df6f00,     #000);  /* FF3.6+ */
    background-image :      -o-linear-gradient(      right,      #df6f00,     #000);  /* Opera 11.10+ */
    background-image :         linear-gradient(   to right,      #df6f00,     #000);  /* W3C */
}

.header-menu ul {
    list-style : square inside;
    margin     : 0;
    padding    : 0;
}
.header-menu li {
    border-left : 4px ridge #999999;
    display     : inline;
    list-style  : square inside;
    padding     : 0 0.5em 0 0.25em;
}

.header-menu a {
    text-decoration : none;
}

.header-menu li a {
    color: #EEEEEE;
}

.header-menu li a:visited {
    color: #EEEEEE;
}

.header-menu li a:hover {
    color: #999999;
}

#content {
    padding: 1em 3em;
}

#widecontent {
    padding : 1em;
}

.footer {
    background-color : black;
    color            : #EEEEEE;
    text-align       : center;
}

.failbuild {
    background-color: red;
    color:            #EEE;
}

.failtest {
    background-color: #F44;
    color:            #EEE;
}

.failtodo {
    background-color: #FB4;
    color:            #EEE;
}

.passtest {
    background-color: #393;
    color:            #EEE;
}

table { font-size: 90%; }
